{% extends "base.html" %}
{% block title %}Info{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block body %}
<h2 class="fs-1 text-body-secondary header-font-bold text-center mb-4 user-select-none">Your Constellation is {{
    astro_sign.title() }}</h2>
<img src="{{ url_for('static', filename='images/astrologySign/' ~ astro_sign ~ '.png') }}" alt="{{ astro_sign }}"
    srcset="" class="d-block mx-auto mb-4 user-select-none" width="100" height="100">
<p class="reading-font fs-5 col-lg-8 col-md-8 col-sm-12 mx-auto mb-4 user-select-none">
    {{ data['desc'].replace(astro_sign.title(), name) }}
</p>

<p class="reading-font fs-5 col-lg-8 col-md-8 col-sm-12 mx-auto user-select-none"><b>Cosmic Tip: </b>{{
    data['cosmic_tip'] }}</p>

<button type="button" id="share-btn" class="btn col-12 text-align-center border border-0"><i
        class="bi bi-send-fill fs-3 text-primary"></i></button>


<Script>
    document.getElementById('share-btn').addEventListener('click', function () {
        html2canvas(document.querySelector("#horoscope")).then(canvas => {
            // Convert canvas to image
            let image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");

            // Optionally trigger download
            let link = document.createElement('a');
            link.href = image;
            link.download = 'horoscope.png';
            link.click();
        });
    });
</Script>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}